@{
    ViewBag.Title = "About";
}
<h3 style="margin-left:0px"><b>About Us</b></h3>
<h3 style="margin-left: 0px; color: #3c4c6a;"><b>ZSIcon</b></h3>


<p>
    ZSIcon is a custom software and Web, CMS development company, founded in 2010. ZSIcon Head Office in Gulshan-e-Johar karachi, we facilitate to our Employee to work remotly from different cities. ZSIcon strives to ensure a better tomorrow for everyone on the team and take on challenges that help us grow one step closer to our mission
    <ul>
        <li>
            Ideas that connect | Innovation that delivers
        </li>
        <li>Ease infrastructure maintenance</li>
        <li>
            we excel in the planning and delivery of comprehensive IT solutions for Business
        </li>
        <li>  Enhance profitability and growth</li>
        <li>
            ZSIcon offers its employees the knowledge, skills and proper training enabling them to perform better and grow.
        </li>

        <li>Increase productivity</li>



    </ul>
   
</p>
<p>   
    <h3 style="margin-left: 0px; color: #3c4c6a;"><b>Mission</b></h3>
    At ZSIcon, our aim is to achieve the unequivocal excellence of the IT industry by providing the most Supper power software solutions and technical upgradation by its proactive and dynamic team meeting and exceeding the utmost level of desired customer satisfaction by enhancing their productivity and increasing their profitability.
</p>
