@{
    ViewBag.Title = "Contact";
}
<h3 style="margin-left:0px"><b>Contact Us</b></h3>
<hr />
<br />
<div class="container-fluid center">
    <div class="row">
        <div class="col-sm-12">Name</div>
    </div>
    <div class="row">
        <div class="col-sm-12"><input type="text" class="form-control" name="txt-name" placeholder="Enter Your Name" /></div>

    </div>
    <div class="row">

    </div>

    <div class="row">
        <div class="col-sm-12">Email</div>
        <div class="col-sm-12"><input type="text" class="form-control" name="txt-email" placeholder="Enter Your Emial" /></div>
    </div>
    <div class="row">
        <div class="col-sm-12">Subject</div>
    </div>
    <div class="row">
     
        <div class="col-sm-12"><input type="text" class="form-control" name="txt-subject" placeholder="Enter Your Subject" /></div>
    </div>
    <div class="row">
        <div class="col-sm-12">Message</div>
    </div>
    <div class="row">
     

        <div class="col-sm-12"><textarea class="form-control" style="width: 1278px; height: 120px;" name="comment">Enter text here...</textarea></div>
    </div>

    <div class="row">
        <br />
    </div>
    <div class="row">

        <div class="col-sm-12"> <input type="submit" value="Send" class="btn btn-primary btn-lg" /></div>
    </div>
</div>
<br />
<br />


    <address>
        <strong>Software Consultant:</strong>   <a href="mailto:Support@zsicon.com">Support@zsicon.com</a><br />
        <strong>Marketing Consultant:</strong> <a href="mailto:Marketing@zsicon.com">Marketing@zsicon.com</a>
    </address>
