@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="border-radius: 140px; }">
    <h1 style="margin-left: 0px; color: #3c4c6a;"><b>Asset Management System</b></h1>
    <p class="lead">Asset Management System - You can manage your Company Asset easily, its user friendly and Responsive system for you....</p>

</div>

<div class="row">
    <div class="col-md-3">
        <h3 style="margin-left: 0px; color: #3c4c6a;"><b>Create Employee</b></h3>

        <p>
            Crate your employee Information in this section, and track your employee Detail regarding assigning asset to employee.
        </p>
        <br />
        <br />
        <span class="badge bg-success">Create</span>
        <span class="badge bg-primary">Upadte</span>
        <span class="badge bg-info">Detail</span>
        <span class="badge bg-danger">Delete</span>

    </div>
    <div class="col-md-2">
        <h3 style="margin-left: 0px; color: #3c4c6a;"><b>Create Designation</b></h3>

        <p> Crate your employee designation  in this section, you can define your employee designation</p>
        <span class="badge bg-success">Create</span>
        <span class="badge bg-primary">Upadte</span><br />
        <span class="badge bg-info">Detail</span>
        <span class="badge bg-danger">Delete</span>

    </div>
    <div class="col-md-2">
        <h3 style="margin-left: 0px; color: #3c4c6a;"><b>Create Department</b></h3>

        <p>Crate your employee department  in this section, you can define your employee department</p>
        <span class="badge bg-success">Create</span>
        <span class="badge bg-primary">Upadte</span><br />
        <span class="badge bg-info">Detail</span>
        <span class="badge bg-danger">Delete</span>

    </div>
    <div class="col-md-2">
        <h3 style="margin-left: 0px; color: #3c4c6a;"><b>Create Asset</b></h3>

        <p>Crate your Assets, in this section, you can define Assets, like laptop,Led,device,sound system etc.</p>
        <span class="badge bg-success">Create</span>
        <span class="badge bg-primary">Upadte</span><br />
        <span class="badge bg-info">Detail</span>
        <span class="badge bg-danger">Delete</span>

    </div>
    <div class="col-md-3">
        <h3 style="margin-left: 0px; color: #3c4c6a;"><b>Assign Asset to Employee </b></h3>

        <p>Most Importan section is, you can assign asset to employee, even you can update assigning detail,track,delete,deavtivate etc.</p>
        <span class="badge bg-success">Create</span>
        <span class="badge bg-primary">Upadte</span>
        <span class="badge bg-info">Detail</span>
        <span class="badge bg-danger">Delete</span>

    </div>

</div>